/* -----global----- */

*{
    margin: 0;
    /* font-family: 'honey script'; */
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    
}

/*  --------------body------------- */

body{
    background-color: rgb(255, 230, 220);
}

/* -------------
    header
--------------*/

header{
    background-color: blueviolet;
}

.nav-section{
    max-width: 950px;
    margin: auto;
}

.nav-first-section{
    display: flex;
    justify-content: space-between;
}

.division-one{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.division-one img{
    width: 30px;
}

.division-two ul{
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.division-two ul li img{
    width: 51px;
    height: 51px;
    padding-top: 5px;
}

/* ---------------- main --------------- */

.main-part{
    max-width: 950px;
    margin: 30px auto;
    border-radius: 10px;
}

.twoinone{
    border-radius: 5px;
    background-color: white;
}

/* -------------- section 1 -------------------------- */

.section-container{
    padding: 30px 20px;

}

/* 
--------- player container ------------
*/

.player-heading{
    font-size: 30px;
    margin: 20px 0px;
    color: blueviolet;
}

.player-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.player-details{
    display: flex;
    align-items: center;
    gap: 10px;
}

.player-details img{
    width: 50px;
    padding: 7.5px 0 7.5px 0 ;
}

.player-name{
    font-size: 20px;
}

.hr{
    background-color: white;
    width: 90%;
    margin: auto;
    
}

/* ---------------section 2------------------------- */
/* ------------blog section ----------------------- */

.blog-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.blog-heading{
    font-size: 30px;
    color: blueviolet;
}

.blog-details{
    display: flex;
}

.blog-details img{
    width: 200px;
    height: 140px;
    margin-top: 20px;
}

.blog-title{
    font-size: 20px;
    margin: 30px 0 10px 15px;
}

.blog-description{
    margin-left: 15px;
}

span{
    color: blueviolet;
}

/* ------------ third section -------------- */

.third-section-container{
    margin-top: 20px;
    border-radius: 5px;
    background-color: white;
}

.course-heading{
    padding: 25px;
    font-size: 30px;
}

.course-img{
    width: 250px;
}

.course-star{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.star{
    width: 12px;
}
.dark-star{
    width: 12px;
}

.clock{
    width:15px;
}

.course-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 25px;
    width: 95%;
    margin: auto;
    gap: 25px;
    padding-bottom: 50px;
}

.course-des{
    background-color: rgb(234, 185, 202);
    padding: 1px 10px;
    border-radius: 20px;
}

.coursess{
    border-radius: 15px;
    box-shadow: 1px 1px 10px rgb(214, 214, 214);
    padding: 10px;
}

/* 
------------------------------
media query / responsive
------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media only screen and (max-width:668px) {
    .division-two ul{
        gap: 10px;
    }
    .main-part{
        max-width: 95%;
        margin: 10px auto;
    }
    .player-heading{
        text-align: center;
    }
    .player-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .blog-container{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
    .blog-heading{
        text-align: center;
    }
    .blog-details{
        flex-direction: column;
    }
    .course-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .course-heading{
        text-align: center;
    }
}

